@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .card {
        width: 450px;
        margin: 50px auto 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        color: #343a40;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
        color: #343a40;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        color: #495057;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        width: 100%;
    }

        .btn-primary:hover {
            background-color: #0069d9;
        }
</style>

<div class="card">
    <div class="card-body">
        <h1 class="card-title">@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
