<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="~/css/analysis.css" />

<div class="video-background">
    <video autoplay loop muted playsinline>
        <source src="https://v4.cdnpk.net/videvo_files/video/free/video0478/large_watermarked/_import_6260e6d59d6b53.72176252_FPpreview.mp4" type="video/mp4">
    </video>
</div>

<div class="container">
    
        <partial name="_Navbar" />
  
    <h1 id="title">Our System in numbers</h1>
    <div class="wrap">
        <div class="number_box">
            <span class="count">@Model[0]</span>
            <h2><i class="fas fa-user"></i> Student</h2>
        </div>
        <div class="number_box">
            <span class="count">@Model[1]</span>
            <h2><i class="fas fa-university"></i> University</h2>
        </div>
        <div class="number_box">
            <span class="count">@Model[2]</span>
            <h2><i class="fas fa-user-graduate"></i> Faculty</h2>
        </div>
        <div class="number_box">
            <span class="count">@Model[3]</span>
            <h2><i class="fas fa-school"></i> School</h2>
        </div>
    </div>
</div>
<script src="~/js/analysis.js"></script>
